body{
    background-color: wheat;
    font-family: Georgia;
}
p{
    text-align: center;
    color: #a52a2a;
    line-height: 30px;
}
h1{
    text-align: center;
    color:red;
    text-decoration: underline;
}
h3{
    text-align: center;
    color: #000;
}
a{
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color:#000;
}
span{
    text-decoration: underline;
}